*{
    margin: 0;
    padding: 0;
}
header.cabecalho{
    background-color: #219ec8;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    border-radius: 50%;
    width: auto;
    height: 150px;
    outline: white;
    outline-width: 5px;
    outline-style: double;
    margin-top: 5%;
}
.cabecalho li{
    display: inline-block;
}
.cabecalho a{
    color: white;
    padding: 25px 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.barra{
    font-family: sans-serif;
    font-size: 25px;
}
header.subcabecalho{
    background-color: #363636;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.drop{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.drop ul{
    list-style-type: none;
}
.topico{
    text-decoration: none;
    color: white;
    padding: 16px 10px;
    border: none;
    font-size: 15px;
}
.link{
    display: none;
    position: absolute;
    padding: 16px 10px;
    border: none;
}
.link a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    padding: 16px 10px;
}
.drop:hover .topico{
    background-color: #219ec8;
    min-width: 100px;
    display: block;
}
.drop:hover .link{
    display: block;
    background-color: #219ec8;
    min-width: 100px;
    text-decoration: none;
}
body{
    background-color: black;
}
#titulo{
    color: #219ec8;
    font-size: 100px;
    font-style: normal;
    font-family: sans-serif;
}
#subtitulo{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
}
.form{
    background-color: #219ec8;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 20px;
}
.parallax{
    background-image: url("../img/mar.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80%;
}
.corpocima{
    background-color: #363636;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.corpocima label{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}
.form strong{
    color: #363636;
}
.corpo{
    background-color: #363636;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
}
.corpo label{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}
#responda{
    font-size: 40px;
    color: #219ec8;
}
.botao{
    background-color: #219ec8;
    font-size: 50px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    border: 0;
    padding: 10px 10px;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2%;
}
.botao a{
    text-decoration: none;
    color: white;
}
